# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Streamlit & Python logs
*.log
*.db
*.sqlite3

# Notebooks (แต่อนุญาต .parquet/.csv ที่ใช้ในแอป)
*.ipynb

# Git & IDE config
.git/
.gitignore
.vscode/
.idea/

# Pretrained & large models (แต่ไม่บล็อก data ที่จำเป็น)
pretained_or_finetune-models/
models/
datasets/
hooks/
test/
tests/
logs/

# nltk and model caches
nltk_data/
app/nltk_data/

!app/frontend/inputs/
!app/frontend/inputs/*.parquet