absl-py==2.1.0 ; python_version == "3.12"
accelerate==0.34.2 ; python_version == "3.12"
ace-tools==0.0 ; python_version == "3.12"
aiohappyeyeballs==2.4.0 ; python_version == "3.12"
aiohttp==3.10.5 ; python_version == "3.12"
aiosignal==1.3.1 ; python_version == "3.12"
altair==5.5.0 ; python_version == "3.12"
aniso8601==9.0.1 ; python_version == "3.12"
anyio==4.4.0 ; python_version == "3.12"
apispec-webframeworks==1.0.0 ; python_version == "3.12"
apispec[yaml]==6.4.0 ; python_version == "3.12"
appdirs==1.4.4 ; python_version == "3.12"
appnope==0.1.4 ; platform_system == "Darwin" and python_version == "3.12"
argon2-cffi-bindings==21.2.0 ; python_version == "3.12"
argon2-cffi==23.1.0 ; python_version == "3.12"
array-record==0.5.1 ; platform_system == "Linux" and python_version == "3.12"
arrow==1.3.0 ; python_version == "3.12"
asttokens==2.4.1 ; python_version == "3.12"
astunparse==1.6.3 ; python_version == "3.12"
async-lru==2.0.4 ; python_version == "3.12"
attrs==24.2.0 ; python_version == "3.12"
automat==24.8.1 ; python_version == "3.12"
babel==2.16.0 ; python_version == "3.12"
beautifulsoup4==4.12.3 ; python_version == "3.12"
bidict==0.23.1 ; python_version == "3.12"
binaryornot==0.4.4 ; python_version == "3.12"
bleach==6.1.0 ; python_version == "3.12"
blinker==1.8.2 ; python_version == "3.12"
boto3==1.34.34 ; python_version == "3.12"
botocore==1.34.162 ; python_version == "3.12"
branca==0.7.2 ; python_version == "3.12"
bs4==0.0.2 ; python_version == "3.12"
cachetools==5.5.1 ; python_version == "3.12"
certifi==2024.8.30 ; python_version == "3.12"
cffi==1.17.1 ; python_version == "3.12"
chardet==5.2.0 ; python_version == "3.12"
charset-normalizer==3.3.2 ; python_version == "3.12"
click==8.1.7 ; python_version == "3.12"
cloudpickle==3.0.0 ; python_version == "3.12"
colorama==0.4.6 ; python_version == "3.12" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version == "3.12"
constantly==23.10.4 ; python_version == "3.12"
contourpy==1.3.0 ; python_version == "3.12"
cookiecutter==2.5.0 ; python_version == "3.12"
cssselect==1.2.0 ; python_version == "3.12"
cycler==0.12.1 ; python_version == "3.12"
datasets==2.21.0 ; python_version == "3.12"
debugpy==1.8.5 ; python_version == "3.12"
decorator==5.1.1 ; python_version == "3.12"
deepdiff==6.7.1 ; python_version == "3.12"
defusedxml==0.7.1 ; python_version == "3.12"
dill==0.3.8 ; python_version == "3.12"
dm-tree==0.1.8 ; python_version == "3.12"
dnspython==2.6.1 ; python_version == "3.12"
docstring-parser==0.16 ; python_version == "3.12"
emoji==2.12.1 ; python_version == "3.12"
et-xmlfile==1.1.0 ; python_version == "3.12"
etils[enp,epath,epy,etree]==1.9.4 ; python_version == "3.12"
etils[epath]==1.9.4 ; platform_system == "Linux" and python_version == "3.12"
executing==2.1.0 ; python_version == "3.12"
fake-useragent==1.5.1 ; python_version == "3.12"
fastjsonschema==2.20.0 ; python_version == "3.12"
filelock==3.16.0 ; python_version == "3.12"
flask-cors==4.0.0 ; python_version == "3.12"
flask-restful==0.3.10 ; python_version == "3.12"
flask-socketio==5.3.6 ; python_version == "3.12"
flask==3.0.2 ; python_version == "3.12"
flatbuffers==24.3.25 ; python_version == "3.12"
folium==0.17.0 ; python_version == "3.12"
fonttools==4.53.1 ; python_version == "3.12"
fqdn==1.5.1 ; python_version == "3.12"
frozenlist==1.4.1 ; python_version == "3.12"
fsspec==2024.6.1 ; python_version == "3.12"
fsspec[http]==2024.6.1 ; python_version == "3.12"
gast==0.6.0 ; python_version == "3.12"
gensim==4.3.3 ; python_version == "3.12"
geographiclib==2.0 ; python_version == "3.12"
geopandas==1.0.1 ; python_version == "3.12"
geopy==2.4.1 ; python_version == "3.12"
gevent-websocket==0.10.1 ; python_version == "3.12"
gevent==23.9.1 ; python_version == "3.12"
ghost-py==0.2.3 ; python_version == "3.12"
gitdb==4.0.12 ; python_version == "3.12"
gitignore-parser==0.1.11 ; python_version == "3.12"
gitpython==3.1.44 ; python_version == "3.12"
google-pasta==0.2.0 ; python_version == "3.12"
googleapis-common-protos==1.65.0 ; python_version == "3.12"
graphviz==0.20.3 ; python_version == "3.12"
greenlet==3.0.3 ; python_version == "3.12"
grpcio==1.66.1 ; python_version == "3.12"
h11==0.14.0 ; python_version == "3.12"
h5py==3.11.0 ; python_version == "3.12"
hdbscan==0.8.40 ; python_version == "3.12"
httpcore==1.0.5 ; python_version == "3.12"
httpx==0.27.2 ; python_version == "3.12"
huggingface-hub==0.24.6 ; python_version == "3.12"
hyperlink==21.0.0 ; python_version == "3.12"
idna==3.8 ; python_version == "3.12"
imbalanced-learn==0.12.3 ; python_version == "3.12"
imblearn==0.0 ; python_version == "3.12"
immutabledict==4.2.0 ; python_version == "3.12"
importlib-resources==6.4.5 ; python_version == "3.12"
incremental==24.7.2 ; python_version == "3.12"
iniconfig==2.0.0 ; python_version == "3.12"
ipykernel==6.29.5 ; python_version == "3.12"
ipython==8.27.0 ; python_version == "3.12"
ipywidgets==8.1.5 ; python_version == "3.12"
isoduration==20.11.0 ; python_version == "3.12"
itsdangerous==2.2.0 ; python_version == "3.12"
jedi==0.19.1 ; python_version == "3.12"
jinja2==3.1.4 ; python_version == "3.12"
jmespath==1.0.1 ; python_version == "3.12"
joblib==1.4.2 ; python_version == "3.12"
json5==0.9.25 ; python_version == "3.12"
jsonpointer==3.0.0 ; python_version == "3.12"
jsonschema-specifications==2023.12.1 ; python_version == "3.12"
jsonschema==4.23.0 ; python_version == "3.12"
jsonschema[format-nongpl]==4.23.0 ; python_version == "3.12"
jupyter-client==8.6.2 ; python_version == "3.12"
jupyter-console==6.6.3 ; python_version == "3.12"
jupyter-core==5.7.2 ; python_version == "3.12"
jupyter-events==0.10.0 ; python_version == "3.12"
jupyter-lsp==2.2.5 ; python_version == "3.12"
jupyter-server-terminals==0.5.3 ; python_version == "3.12"
jupyter-server==2.14.2 ; python_version == "3.12"
jupyter==1.1.1 ; python_version == "3.12"
jupyterlab-pygments==0.3.0 ; python_version == "3.12"
jupyterlab-server==2.27.3 ; python_version == "3.12"
jupyterlab-widgets==3.0.13 ; python_version == "3.12"
jupyterlab==4.2.5 ; python_version == "3.12"
keras==3.5.0 ; python_version == "3.12"
kiwisolver==1.4.7 ; python_version == "3.12"
kthread==0.2.3 ; python_version == "3.12"
libclang==18.1.1 ; python_version == "3.12"
llvmlite==0.43.0 ; python_version == "3.12"
lxml==5.3.0 ; python_version == "3.12"
markdown-it-py==3.0.0 ; python_version == "3.12"
markdown==3.5.2 ; python_version == "3.12"
markupsafe==2.1.5 ; python_version == "3.12"
marshmallow==3.20.2 ; python_version == "3.12"
matplotlib-inline==0.1.7 ; python_version == "3.12"
matplotlib==3.9.2 ; python_version == "3.12"
mdurl==0.1.2 ; python_version == "3.12"
mistune==3.0.2 ; python_version == "3.12"
ml-dtypes==0.4.0 ; python_version == "3.12"
mpmath==1.3.0 ; python_version == "3.12"
multidict==6.1.0 ; python_version == "3.12"
multiprocess==0.70.16 ; python_version == "3.12"
namex==0.0.8 ; python_version == "3.12"
narwhals==1.26.0 ; python_version == "3.12"
nbclient==0.10.0 ; python_version == "3.12"
nbconvert==7.16.4 ; python_version == "3.12"
nbformat==5.10.4 ; python_version == "3.12"
nest-asyncio==1.6.0 ; python_version == "3.12"
networkx==3.2.1 ; python_version == "3.12"
nltk==3.9.1 ; python_version == "3.12"
notebook-shim==0.2.4 ; python_version == "3.12"
notebook==7.2.2 ; python_version == "3.12"
numba==0.60.0 ; python_version == "3.12"
numpy==1.26.4 ; python_version == "3.12"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-nccl-cu12==2.20.5 ; platform_system == "Linux" and platform_machine != "aarch64" and python_version == "3.12"
nvidia-nvjitlink-cu12==12.6.68 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
oauthlib==3.2.2 ; python_version == "3.12"
openpyxl==3.1.2 ; python_version == "3.12"
opt-einsum==3.3.0 ; python_version == "3.12"
optree==0.12.1 ; python_version == "3.12"
ordered-set==4.1.0 ; python_version == "3.12"
outcome==1.3.0.post0 ; python_version == "3.12"
overrides==7.7.0 ; python_version == "3.12"
packaging==24.1 ; python_version == "3.12"
pandas==2.2.0 ; python_version == "3.12"
pandocfilters==1.5.1 ; python_version == "3.12"
parse==1.20.2 ; python_version == "3.12"
parsel==1.9.1 ; python_version == "3.12"
parso==0.8.4 ; python_version == "3.12"
passlib==1.7.4 ; python_version == "3.12"
pexpect==4.9.0 ; sys_platform != "win32" and sys_platform != "emscripten" and python_version == "3.12"
pillow==10.4.0 ; python_version == "3.12"
platformdirs==4.3.2 ; python_version == "3.12"
playwright==1.46.0 ; python_version == "3.12"
pluggy==1.5.0 ; python_version == "3.12"
prometheus-client==0.20.0 ; python_version == "3.12"
promise==2.3 ; python_version == "3.12"
prompt-toolkit==3.0.47 ; python_version == "3.12"
protobuf==4.25.4 ; python_version == "3.12"
psutil==6.0.0 ; python_version == "3.12"
psycopg2==2.9.10 ; python_version == "3.12"
ptyprocess==0.7.0 ; (sys_platform != "win32" and sys_platform != "emscripten" or os_name != "nt") and python_version == "3.12"
pure-eval==0.2.3 ; python_version == "3.12"
pyarrow==15.0.0 ; python_version == "3.12"
pycparser==2.22 ; python_version == "3.12"
pydeck==0.9.1 ; python_version == "3.12"
pydot==3.0.1 ; python_version == "3.12"
pyee==11.1.0 ; python_version == "3.12"
pygments==2.18.0 ; python_version == "3.12"
pymongo[srv]==4.6.1 ; python_version == "3.12"
pynndescent==0.5.13 ; python_version == "3.12"
pyogrio==0.9.0 ; python_version == "3.12"
pyparsing==3.1.4 ; python_version == "3.12"
pyppeteer==0.0.25 ; python_version == "3.12"
pyproj==3.6.1 ; python_version == "3.12"
pyquery==2.0.1 ; python_version == "3.12"
pysocks==1.7.1 ; python_version == "3.12"
pytest==8.3.4 ; python_version == "3.12"
pythainlp==5.0.4 ; python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
python-dotenv==1.0.1 ; python_version == "3.12"
python-engineio==4.9.1 ; python_version == "3.12"
python-json-logger==2.0.7 ; python_version == "3.12"
python-slugify==8.0.4 ; python_version == "3.12"
python-socketio==5.11.4 ; python_version == "3.12"
pytz==2023.3.post1 ; python_version == "3.12"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version == "3.12"
pywinpty==2.0.13 ; os_name == "nt" and python_version == "3.12"
pyyaml==6.0.2 ; python_version == "3.12"
pyzmq==26.2.0 ; python_version == "3.12"
referencing==0.35.1 ; python_version == "3.12"
regex==2024.7.24 ; python_version == "3.12"
requests-html==0.10.0 ; python_version == "3.12"
requests-oauthlib==1.3.1 ; python_version == "3.12"
requests==2.32.3 ; python_version == "3.12"
rfc3339-validator==0.1.4 ; python_version == "3.12"
rfc3986-validator==0.1.1 ; python_version == "3.12"
rich==13.8.1 ; python_version == "3.12"
rpds-py==0.20.0 ; python_version == "3.12"
s3transfer==0.10.2 ; python_version == "3.12"
safetensors==0.4.5 ; python_version == "3.12"
scikeras==0.13.0 ; python_version == "3.12"
scikit-learn==1.5.1 ; python_version == "3.12"
scipy==1.13.1 ; python_version == "3.12"
seaborn==0.13.2 ; python_version == "3.12"
selenium==4.24.0 ; python_version == "3.12"
send2trash==1.8.3 ; python_version == "3.12"
setuptools==74.1.2 ; python_version == "3.12"
shap==0.46.0 ; python_version == "3.12"
shapely==2.0.6 ; python_version == "3.12"
simple-parsing==0.1.6 ; python_version == "3.12"
simple-websocket==1.0.0 ; python_version == "3.12"
six==1.16.0 ; python_version == "3.12"
slicer==0.0.8 ; python_version == "3.12"
smart-open==7.0.4 ; python_version == "3.12"
smmap==5.0.2 ; python_version == "3.12"
sniffio==1.3.1 ; python_version == "3.12"
sortedcontainers==2.4.0 ; python_version == "3.12"
soupsieve==2.6 ; python_version == "3.12"
spicy==0.16.0 ; python_version == "3.12"
sqlalchemy==2.0.25 ; python_version == "3.12"
stack-data==0.6.3 ; python_version == "3.12"
streamlit==1.42.0 ; python_version == "3.12"
sympy==1.13.2 ; python_version == "3.12"
taipy-config==3.1.1 ; python_version == "3.12"
taipy-core==3.1.1 ; python_version == "3.12"
taipy-gui==3.1.4 ; python_version == "3.12"
taipy-rest==3.1.1 ; python_version == "3.12"
taipy-templates==3.1.1 ; python_version == "3.12"
taipy==3.1.1 ; python_version == "3.12"
tenacity==9.0.0 ; python_version == "3.12"
tensorboard-data-server==0.7.2 ; python_version == "3.12"
tensorboard==2.17.1 ; python_version == "3.12"
tensorflow-datasets==4.9.6 ; python_version == "3.12"
tensorflow-hub==0.16.1 ; python_version == "3.12"
tensorflow-metadata==1.15.0 ; python_version == "3.12"
tensorflow-probability==0.24.0 ; python_version == "3.12"
tensorflow==2.17.0 ; python_version == "3.12"
tensorstore==0.1.64 ; python_version == "3.12"
termcolor==2.4.0 ; python_version == "3.12"
terminado==0.18.1 ; python_version == "3.12"
text-unidecode==1.3 ; python_version == "3.12"
tf-keras==2.17.0 ; python_version == "3.12"
threadpoolctl==3.5.0 ; python_version == "3.12"
tinycss2==1.3.0 ; python_version == "3.12"
tokenizers==0.19.1 ; python_version == "3.12"
toml==0.10.2 ; python_version == "3.12"
torch==2.4.1 ; python_version == "3.12"
torchvision==0.19.1 ; python_version == "3.12"
tornado==6.4.1 ; python_version == "3.12"
tqdm==4.67.1 ; python_version == "3.12"
traitlets==5.14.3 ; python_version == "3.12"
transformers[torch]==4.44.2 ; python_version == "3.12"
trio-websocket==0.11.1 ; python_version == "3.12"
trio==0.26.2 ; python_version == "3.12"
triton==3.0.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
tweepy==4.14.0 ; python_version == "3.12"
twisted-iocpsupport==1.0.4 ; platform_system == "Windows" and python_version == "3.12"
twisted==23.10.0 ; python_version == "3.12"
types-python-dateutil==2.9.0.20240906 ; python_version == "3.12"
typing-extensions==4.12.2 ; python_version == "3.12"
tzdata==2024.1 ; python_version == "3.12"
tzlocal==5.2 ; python_version == "3.12"
umap-learn==0.5.7 ; python_version == "3.12"
umap==0.1.1 ; python_version == "3.12"
uri-template==1.3.0 ; python_version == "3.12"
urllib3==2.2.2 ; python_version == "3.12"
urllib3[socks]==2.2.2 ; python_version == "3.12"
w3lib==2.2.1 ; python_version == "3.12"
watchdog==6.0.0 ; platform_system != "Darwin" and python_version == "3.12"
wcwidth==0.2.13 ; python_version == "3.12"
webcolors==24.8.0 ; python_version == "3.12"
webdriver-manager==4.0.2 ; python_version == "3.12"
webencodings==0.5.1 ; python_version == "3.12"
websocket-client==1.8.0 ; python_version == "3.12"
websockets==13.0.1 ; python_version == "3.12"
werkzeug==3.0.4 ; python_version == "3.12"
wheel==0.44.0 ; python_version == "3.12"
widgetsnbextension==4.0.13 ; python_version == "3.12"
wordcloud==1.9.4 ; python_version == "3.12"
wrapt==1.16.0 ; python_version == "3.12"
wsproto==1.2.0 ; python_version == "3.12"
xgboost==2.1.1 ; python_version == "3.12"
xxhash==3.5.0 ; python_version == "3.12"
xyzservices==2024.9.0 ; python_version == "3.12"
yarl==1.11.1 ; python_version == "3.12"
zipp==3.20.1 ; python_version == "3.12"
zope-event==5.0 ; python_version == "3.12"
zope-interface==7.0.3 ; python_version == "3.12"
